<h1>Crear nuevo documento</h1>
<p> new_document = {
    'nombre': Amairani,
    'ape_pat': 'Duran'
    'ape_mat': 'Ibarra' }</p>

<form method="POST" action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre Estudiante">
    </div>
    <div class="form-group">
        <label for="ape_pat">Apellido Paterno</label>
        <input type="text" class="form-control" name="ape_pat" placeholder="Apellido Paterno Estudiante">
    </div>
    <div class="form-group">
        <label for="ape_mat">Apellido Materno</label>
        <input type="text" class="form-control" name="ape_mat" placeholder="Apellido Materno Estudiante">
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" type= "submit">Crear</button>
    </div>
</form>